
unity_project/Assembly-CSharp-vs.csproj

unity_project/Assembly-CSharp.csproj

unity_project/Assembly-UnityScript-firstpass-vs.unityproj

unity_project/Assembly-UnityScript-firstpass.unityproj

unity_project/unity_project-csharp.sln

unity_project/unity_project.sln
